language: python

cache: pip

dist: xenial  # required for python3.7

python:
    - "3.5"
    - "3.6"
    - "3.7"

install:
    - pip install .[dev,docs]

script:
    - pip freeze
    - pytest
    - flake8 deepdow
    - flake8 tests
    - pydocstyle deepdow
    - sphinx-build -b doctest docs/ temp_doctest

after_success:
    - codecov